# Project exclude paths
/.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Eclipse ###
.classpath
.project
.settings
bin/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
